html,
body{
  height: 100%;
}

body{
color:$default;
font-size: 16px;
line-height: 24px;
@extend %rubic-400;
display: flex;
flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__inside{
    max-width: 1200px;
}

a{
  color:$default;
font-size: 16px;
line-height: 24px;
@extend %rubic-400;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    color: #222933;
      padding-right: 7px;
    &::after {
      content: "/";
      padding-left: 4px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  &__list{
    display: flex;
  }

  &__link{
    @extend %rubic-400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #243f4d;
    background-color: #fff;
    border: 1px solid #a3bbc8;
    text-transform: uppercase;
    &:hover{
      color: #fff;
      background-color: #a3bbc8;
      border: 1px solid #a3bbc8;
    }
  }
  &__item--active{
    background-color: #a3bbc8 ;
    color: #fff ;
    
  }
  &__item{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
}