@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";








































.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
  &__filter-btn{
    display: none;
  }
  
}

.filter{
  &__item{
    padding-left: 15px;
    margin-bottom: 60px;
  }
  &-title__wrapper{
    display: flex;
    align-items:baseline;
  }
  &-title{
    color: #243f4d;
    text-transform: uppercase;
    font-size: 18px;
    @extend %dnsans-700;
    padding-right: 15px;
    margin-bottom: 30px;

  }
}

.filter-brand{
  &__label{
    display: flex;
    justify-content: space-between; 
  }
  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }
}

.filter-price{
  &__label{
    display: flex;
  }
  &__from{
    margin-right: auto;
    &::before{
      content: '$';
    }
  }
  &__to{
    margin-left: auto;
    &::before{
      content: '$';
    }
  }
}

.irs--flat .irs-line {
    top: 13px;
    height: 3px;
    border: 1px solid  #dfe7ec ;
        background-color: #c2d2db;
    border-radius: 0;
}
.irs--flat .irs-bar {
    top: 13px;
    height: 4px;
    border: 1px solid  #dfe7ec ;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle {
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}

.filter-category{
  &__label{
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
      
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
      color: #243f4d;
    }
  }
  &__checkbox{
    background-color: #fff;
    color: #243f4d;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
    align-items: center;
  }
}


.filter-brand{
  &__label{
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
      
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      color: #243f4d;
    }
  }
  &__checkbox{
    background-color: #fff;
    color: #243f4d;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;
    align-items: center;
  }
}


.filter-recent{
  &__item{
    display: flex;
    margin-bottom: 24px;
  &:last-child{
    margin-bottom: 0;
  }
  }
  &-img__wrapper{
    width: 70px;
    height: 70px;
    align-items: center;
    padding: 4px 7px;
    border: 1px solid #f2f2f2;
    margin-right: 15px;
  }
  .star{
    display: block;
  }
  &-img{
    margin: 0 auto;
  }
  &__content{
    margin-top: 5px;
  }
  &__title{
    margin-left: 2px;
    @extend %rubic-400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  &__price{
    margin-left: 2px;
    font-size: 15px;
    line-height: 27px;
    @extend %rubic-400;
  }
}
.star{
  margin-bottom: 8px;
}
.jq-ry-container{
  padding: 0;
}


.shop-content{
  width: 100%;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__items-info{
      margin-bottom: 40px;
    }
  }
  &__filter{
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  &__filter-buttoms{
    display: flex;
    align-items: center;
  }
  &__filter-btn{
    outline: hidden;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active{
      path{
        fill:#fe3e57;
      }
    }
  }
  .products__items-info-text{ 
    display: none; 
    }
}

.jq-ry-container{
  display: none;
}
.products__items-info-text{
    display: block;
  }
.products__items-info-link-box{
  display: none;
}


.product-page{
  padding: 120px 0 60px;
  border-bottom: 1px solid #f0f0f0;
}
.product-one{
  margin-bottom: 90px;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 50px;
  }
  &__content{
    width: 570px;
    margin-left: 20px;
  }
  &__title{
    @extend %rubic-400;
    line-height: 26px;
    font-size: 40px;
    color: #333333;
    margin-bottom: 25px;
  }
  &__star{
    .star{
      display: block;
    }
    margin-bottom: 30px;
  }
  &__price{
    @extend %rubic-400;
    line-height: 45px;
    font-size: 30px;
    color: #333333;
    margin-bottom: 10px;
  }
  &__text{
    @extend %rubic-400;
    line-height: 30px;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 20px;
  }
  &__box{
    display: flex;
    margin-bottom: 20px;
  }
  &__item-btn{
    @extend %btn;
    border: none;
    margin-left: 15px;
  }
  &__item-num{
    width: 150px;
  }
}
.jq-number__field{
    width: 150px;
    border: 1px solid #a3bbc8;
}
.jq-number__field input {
    width: 100%;
    height: 53px;
    border: none;
    outline: none;
    @extend %rubic-400;
    color: $title;
    text-align: center;
}
.jq-number {
    padding: 0;
    position: relative;
}
.jq-number__spin {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.jq-number__spin.minus{
  border: 1px solid #a3bbc8;
  width: 50px;
  height: 55px;
  margin: 0 auto;
  transform: translateY(-29px);
  cursor: pointer;
}
.jq-number__spin.plus{
  border: 1px solid #a3bbc8;
  right: 0;
  width: 50px;
  height: 55px;
  margin: 0 auto;
  transform: translateY(-29px);
  cursor: pointer;
}
.jq-number__spin.minus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 38%;
    background-color: #333333;
    width: 12px;
    height: 1px;
}
.jq-number__spin.plus::before{
  content: "";
  position: absolute;
  top: 40%;
    left: 50%;
  background-color: #333333;
  width: 1px;
  height: 12px;
  
} 
.jq-number__spin.plus::after{
  content: "";
  position: absolute;
      top: 50%;
      left: 38%;
  
  background-color: #333333;
  width: 12px;
  height: 1px;
} 
.product-info{
  &__list{
  }
  &__item{
    @extend %rubic-400;
    color: #243f4d;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
    &:last-child{
      margin-bottom: 0;
      
    }

  }
  &__title{

  }
  &__text{
    margin-left: 5px;
  }
}


.product-slide{
  display: flex;
  &__thumb{
    width: 138px;
    margin-right: 25px;
  }
  &__thumb-item{
    border: 1px solid #f2f2f2;
    margin-bottom: 35px;
    width: 138px;
    height: 160px;
    cursor: pointer;
    background-color: #fefefe;
    &:last-child{
      margin-bottom: 0;
    }
    img{    
    display: block;
    margin: 0 auto;
    height: 100%;
      object-fit: cover;
    }
  }
  &__big{
    border: 1px solid #f2f2f2;
    width: 387px;
    height: 500px;
    background-color: #fefefe;
      align-items: center;
    img{

      display: block;
      margin: 0 auto;
      height: 100%;
      // object-fit: cover;
      
    }
  }
}



.product-tabs{
  padding-bottom: 110px;
  &__top{
    margin-bottom: 35px;
    @extend %rubic-500;
    line-height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  &__top-item{
    height: 50px;
    width: 240px;
    padding: 20px;
    background-color: #edf1f4;
    color: #243f4d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    border-radius: 10px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{

    background-color: #a3bbc8;
    color: #fff;
    transition: all 0.3s;
    }
  }
  &__top-item--active{
    background-color: #a3bbc8;
    color: #fff;
  }
  &__content-item{
    display: none;
    &.product-tabs__content-item--active{
      @extend %rubic-400;
      font-size: 16px;
      line-height: 30px;
      display: block;
    }
  }
}

.comments-title{
  margin-bottom: 50px;
  @extend %rubic-500;
  font-size: 24px;
  line-height: 36px;
  color: #436372;
}

.comments{
  margin-bottom: 40px;
  display: flex;
  &__img{
    height: 100px;
    min-width: 100px;
    margin-right: 30px;
    overflow: hidden;
    object-fit: cover;
  }
  &-reply{
    margin-left: 130px;
  }
  &__content-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__content-name{
    color: #436372;
    margin-right: 13px;
    @extend %rubic-700;
  }
  &__content-data{
    padding-left: 13px;
    position: relative;
    &::before{
      position: absolute;
      content:'';
      top: 4px;
      left: 0;
      width: 1px;
      height: 15px;
      color:#29282d;
      background-color: #29282d;
    }
  }
  .star{
    display: block;
  }
  &__content-star{
    margin-left: auto;
  }
  &__content-text{
    color: #8d8d8d;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    @extend %dnsans-500;
  }
  &__content-reply{
    position: relative;
    padding-left: 25px;

    &:before{
      position: absolute;
      content:'';
      top: 2px;
      left: 0;
      width: 15px;
      height: 13px;
      background-repeat: no-repeat;
      align-items: center;
      background-image: url(../images/avatar/reply.svg);
    }
  }
}

.comment-map-box{
  display: flex;
  iframe {
    margin-left: auto;
  }
}


.comment-form{
  &__title{
    color: #29282d;
    @extend %rubic-700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px;
    position: relative;
    padding-bottom: 20px;
    color: #436372;
    &:before{
      content: '';
      width: 50px;
      height: 2px;
      position: absolute;
      background-color: #fe3e57;
      bottom: 0;
    }
  }
  &__rating{
    margin-bottom: 30px;
  }
  &__rating-title{
    color: #ccccce;
    margin-right: 60px;
  }
  &__label{
    margin-right: 25px;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .comment-form__radio{
      path{
        fill:#ffc35b;
      }
    }
  }
  &__radio{
    cursor: pointer;
    path{
      fill:#ccccce;
    }
  }
  &__box-input{
    margin-bottom: 25px; 
    display: flex;
    justify-content: space-between;
  }
  &__text-input-svg{
    position: relative;
    & svg{
      position: absolute;
      right: 19px;
      top: 20px;
    }
  }
  &__text-input{
    width: 400px;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #f0f0f0;
  }
&__text-textarea-svg{
    position: relative;
    & svg{
      position: absolute;
      right: 19px;
      top: 20px;
    }
  }
  &__textarea{
    border: 1px solid #f0f0f0;
    padding: 15px 20px;
    display: block;
    background-color:#fafafa;
    width: 100%;
    height: 175px;
    resize: none;
    margin-bottom: 30px;
  }

  &__btn{
    border: none;
    @extend %btn;
  }
}



.related{
  padding-bottom: 120px;
  &__title{
    margin-bottom: 50px;
    color: #243f4d;
    font-size: 36px;
    @extend %dnsans-700;
  }
}

.mirum {
  margin-top: 125px;
  margin-bottom: 100px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    max-width: 870px;
    display: flex;
    padding-bottom: 80px;
    // padding-left: 135px;
    background-color: #feefe2;
  }
  &__item-img-wrapper {
    margin-top: -90px;
    padding-right: 20px;
  }

  &__item-text-wrapper {
    padding-top: 100px;
  }
  &__item-title {
    font-size: 26px;
    line-height: 32px;
    @extend %dnsans-700;
    width: 250px;
    padding-bottom: 20px;
  }
  &__item-text {
    line-height: 30px;
    max-width: 340px;
    padding-bottom: 30px;
  }
  &__item-link {
    border: 1px solid #b3b7b5;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 25px;
    background-color: #feefe2;
    color: $menu;
    font-size: 15px;
    line-height: 12px;
    max-width: 200px;
  }
}


.blog{
  &__inner{
  padding: 120px 0 120px;
  display: flex;
  // height: 1000px;
  }
  &__content{
    width: 830px;
    margin-right: 70px;
  }
  &__item{
    margin-bottom: 50px;
    &-img-box{
      position: relative;
      margin-bottom: 42px;
    }
    &-img{
      max-width: 830px;
      height: 501px;
      object-fit: cover;
      display: block; 
    }
    &-link-box{
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      bottom: 0;
      position: absolute;
      width: 275px;
      height: 70px;
      background-color: #a3bbc8;
      
    }
    &-link{
      color: #fff;
      @extend %rubic-400;
      font-size: 12px;
      & svg{
        path{
          fill: #fff;
        }
      }
    }
    &-link +&-link{
      margin-left: 25px;
    }
    &-box{

    }
    &-title{
      font-size: 36px;
      line-height: 26px;
      margin-bottom: 27px;
      color: #333;
      @extend %rubic-400;
    }
    &-text{
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
      margin-bottom: 30px;
      @extend %rubic-400;
    }
    &-box-link{
      background-color: #fff;
      &:hover{
        background-color: #a3bbc8;
        color: #fff;
      }
    }

  }
  &__aside{
    width: 270px;
  }
  .filter-search{
    &__form{
    display: flex;
    height: 43px;
    }
    &__input{
    border: 1px solid #eef2f5;
      width: 200px;
      &:focus{
        outline: none;
      }
    }
    &__btn{
      height: 43px;
      color: #fff;
      line-height: 30px;
      font-size: 15px;
      background-color: #eef2f5;
      border: 1px solid #eef2f5;
      @extend %rubic-400;
      cursor: pointer;
      width: 50px;
      & img{
      margin: 0 auto;
      }
    }
    .filter-category{
      min-height: 270px;
    }
  }
  &-recent{
    &__item{
      display: flex;
    }
    &-img__wrapper{
      margin-right: 15px;
    }
    &-img{
      min-width: 71px;
      height: 71px;
      object-fit: cover;
    }
    &__content{
      margin-bottom: 12px;
    }
    &__title{
      font-size: 14px;
      @extend %rubic-400;
      line-height: 20px;
    }
  }
}

.blog-one{
  &__title{
    font-size: 36px;
    line-height: 26px;
    @extend %rubic-400;
    color: #333;
    margin-bottom: 10px;
    display: block;
  }
  &__title-about{
    font-size: 16px;
    display: block;
    line-height: 30px;
    @extend %rubic-500;
    color: #243f4d;
    margin-bottom: 15px;
  }
  &__text{
    font-size: 16px;
    display: block;
    line-height: 30px;
    @extend %rubic-400;
    color: #243f4d;
    margin-bottom: 32px;
  }
  &__quote{
    height: 130px;
    background-color: #edf1f4;
    position: relative;
    margin-bottom: 50px;
    &:before{
      position: absolute;
      content: '';
      width: 6px;
      height: 130px;
      background-color: #a3bbc8;
    }
    &-text{
    padding-left: 40px;
    padding-top: 25px;
    font-size: 16px;
    display: block;
    line-height: 30px;
    @extend %rubic-400;
    color: #243f4d;
    margin-bottom: 10px;
    }
    &-author{
    padding-left: 40px;
    font-size: 16px;
    display: block;
    line-height: 30px;
    @extend %rubic-400;
    color: #243f4d;
    & svg{
      margin-right: 20px;
    }
    }
  }
  &__riusmod{
    display: flex;
    margin-bottom: 45px;
    &-img{
      width: 320px;
      display: block;
      height: 210px;
      margin-right: 30px;
      object-fit: cover;

    }
    &-content{
      display: block;
    }
    &-title{
      @extend %rubic-500;
      font-size: 18px;
      line-height: 30px;
      color: #243f4d;
      margin-bottom: 30px;
    }
    &-text{
      @extend %rubic-400;
      font-size: 16px;
      line-height: 30px;
      color: #565872;
    }
  }
  &__info{
    display: block;
    margin-bottom: 50px;
    &-title{
      @extend %rubic-500;
      font-size: 18px;
      line-height: 30px;
      color: #243f4d;
      margin-bottom: 25px;
    }
    &-text{
      @extend %rubic-400;
      font-size: 16px;
      line-height: 30px;
      color: #565872;
    }
  }
  &__mark{
    display: flex;
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    &-img{
      display: block;
      width: 76px;
      height: 76px;
      margin-right: 30px;
    }
    &-box-info{
    display: flex;
    justify-content: space-between;
    width: 700px;
      
    }
    &-box-info{
      display: flex;
    }
    &-name{
      @extend %rubic-500;
      font-size: 18px;
      line-height: 25px;
      color: #333333;
      margin-bottom: 15px;

    }
    &-pos{
      @extend %rubic-400;
      font-size: 16px;
      line-height: 30px;
      color: #666666;
    }
    &-box-right{
      justify-content: space-between;
    }
    &-tags{
      display: flex;
      margin-bottom: 17px;
    }
      &-tags-title{
        color: #333333;
        @extend %rubic-400;
      font-size: 16px;
      line-height: 26px;
      margin-right: 20px;
      }
      &-tags-link-one{
        @extend %rubic-300;
        margin-right: 10px;
      }
      &-tags-link{
        @extend %rubic-300;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &-share-title{
        color: #333333;
        @extend %rubic-400;
      font-size: 16px;
      line-height: 26px;
      margin-right: 15px;
      }
      &-link-one{
        margin-right: 5px;
      }

      &-share{
      display: flex;
      margin-bottom: 17px;
      &:last-child{
        margin-bottom: 0;
      }
      &-title{
      @extend %rubic-400;
      font-size: 18px; 
      line-height: 26px;
      margin-right: 15px;
      }
      &-link{
        margin-left: 15px;
      }
    }
    &-info{
      & svg{
            cursor: pointer;
        margin-left: 10px;
        &:hover{
          path{
            fill:red;
          }
        }
      }
    }

  }
}

.contact{
  margin: 120px 0 140px;
  &-inner-box{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }


  &-adress__box{
    
    
  }
  &-write__title{
    color: #a3bbc8;
    @extend %poppins-700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;

  }
  &-touch__title{
    color: #436372;
    font-size: 35px;
    line-height: 57px;
    @extend %dnsans-700;
    text-align: center;
    margin-bottom: 65px;
  }
  &-box{
    border: 1px solid #fff;
    background-color: #fafafa;
    width: 370px;
    height: 385px;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      border: 1px solid #a3bbc8;
    }
  }
  &-message__inner{
    margin: 70px 0 65px;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #a3bbc8;
    border-radius: 20%;
    margin: 70px auto;
    & svg{
    path{
      fill: white;
    }
    }
  }
  &-location__inner{
    margin: 70px 0 65px;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20%;
    margin: 70px auto;
    & svg{
    path{
      fill: #a3bbc8;
    }
    }
  }
    &-box__title{
      @extend %dnsans-700;
      font-size: 20px;
      line-height: 26px;
      color: #222;
      text-align: center;
      margin-bottom: 25px;
    }
    &-box__text{
      width: 260px;
      @extend %rubic-400;
      color: #565872;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      margin: 0 auto;
  }
  .comment-form{
    width: 620px;
    &__text-input{
      width: 300px;
      background-color:#fafafa;
      // margin-right: 20px;
    }
    &__text-input-svg{
      margin-right: 20px;
    }
    &__text-input-svg-right{
      margin-right: 0;
    }
  }
}



@import "media";
