.mirum {
  margin-top: 125px;
  margin-bottom: 100px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    max-width: 870px;
    display: flex;
    padding-bottom: 80px;
    // padding-left: 135px;
    background-color: #feefe2;
  }
  &__item-img-wrapper {
    margin-top: -90px;
    padding-right: 20px;
  }

  &__item-text-wrapper {
    padding-top: 100px;
  }
  &__item-title {
    font-size: 26px;
    line-height: 32px;
    @extend %dnsans-700;
    width: 250px;
    padding-bottom: 20px;
  }
  &__item-text {
    line-height: 30px;
    max-width: 340px;
    padding-bottom: 30px;
  }
  &__item-link {
    border: 1px solid #b3b7b5;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 25px;
    background-color: #feefe2;
    color: $menu;
    font-size: 15px;
    line-height: 12px;
    max-width: 200px;
  }
}


@media(max-width:1250px){
    .mirum {
      margin-bottom: 0;
    &__items {
      display: flex;
      flex-wrap: wrap;
      
    }
    &__item {
      margin: 0 auto 120px;
  }

  }
}

@media(max-width:650px){
  .container{
    padding: 0;
  }
    .mirum {
      margin-bottom: 0;
    &__items {
      display: flex;
      flex-wrap: wrap;
      
    }
      &__item-img-wrapper img{
        display: none;
      }
    &__item {
      margin: 0 auto 120px;
    &-title{
      font-size: 20px;
      line-height: 25px;
    }
    &-text{
      height: 100px;
      line-height: 20px;
      max-width: 330px;
      font-size: 12px;
      
    }
  }

  }
}
