.modal{
  padding-top: 100px;
  max-width: 470px;
  margin: 0 auto 120px;
  color: #436372;
  &__label{
    margin-bottom: 15px;
    display: block;

  }
  &__input{
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6; 
    margin-top: 4px;
    height: 55px;
    padding: 0 15px;
  }
  &__btn{
    display: block;
    background-color: #a3bbc8;
    font-size: 18px;
    padding: 20px 0;
    color: white;
    @extend %rubic-500;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
  }
  &__info-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #f6f6f6; 
    margin-bottom: 34px;
  }
  &__lost{
  color: #436372;
  }
  &__text{
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  &__link{
    display: flex;
    justify-content: center;
    color: #243f4d;
    border: 2px solid #d1dde3;
    padding: 20px 0;
    width: 100%;
    @extend %rubic-500;
    transition: all 0.3s;
  }
  // &__link:hover{
  //   background-color: #243f4d;
  //   color: white;
  // }
}