.fast__info {
  background-color: $bg;
  padding: 47px 0 75px 0;
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    padding-left: 77px;
    position: relative;
  }
  &-item-svg {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  &-title {
    padding-bottom: 10px;
    @extend %dnsans-700;
    font-size: 18px;
    line-height: 40px;
  }
  &-text {
    @extend %dnsans-400;
    font-size: 16px;
    line-height: 30px;
  }
}


@media(max-width:1000px){
  .fast__info{
  &-inner{
    display: block;
    width: 100%;
    }
    &-item{
      margin-bottom: 15px;  
    }
  
  &-title{
    line-height: 20px;
  }
  }
}


// @media(max-width:600px){
//   .fast__info{

  
//   &-title{
//     font-size: 15px;
//   }
//   &-text{
//     font-size: 13px;
//   }
//   }
// }